@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.topbar {
  position: fixed;
  height: 2.5rem;
  width: 100%;
  top: 0;
  left: 0;
  background: $color-primary;

  &__keyword {
    margin: auto;
    color: $color-white;
    font-family: monospace;
    font-size: 22px;
    height: $topbar-height;
    line-height: $topbar-height;
    background-color: $color-primary;
    text-align: center;
  }
}