@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(.5);

  max-width: $layout-post-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &__list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;

    &-item {
      display: inline-block;
      margin: 10px 5px;

      &-link {
        font-family: $typographic-header-font-family;
        display: inline-block;
        height: $button-height;
        padding: 0 16px;
        line-height: $button-height;
        border: 1.2px solid $color-gray-border;
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        text-decoration: none;
        border-radius: $button-border-radius;
        color: $color-primary;

        &:hover,
        &:focus {
          color: $color-secondary;
          box-shadow: initial;
        }

      }

    }

  }

}