@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__name-and-photo {
    display: flex;
  }

  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 20%;
    background-clip: padding-box
  }

  &__title {
    font-size: $typographic-base-font-size * 2;
    font-weight: 600;
    @include line-height(2);
    @include margin(.4, 0, .5, .5);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

  &__typewriter {
    font-family: $typographic-pike-font-family;
    font-size: 61px;
    color: $color-white;
    background-color: $color-primary;
    height: 7.3rem;
    text-align: center;
    overflow: hidden;

    box-shadow: inset 5px 2px 4px 2px rgba(0, 0, 0, 0.06);
    border-radius: $button-border-radius;

    &-topbar {
      height: 1rem;
      position: relative;
      display: flex;
      flex-direction: row;
      margin-bottom: -.2rem;

      &-white {
        background-color: lighten($color-primary, 30%);
        width: 42%;
      }

      &-grey {
        background-color: lighten($color-primary, 20%);
        width: 42%;
      }

      &-red {
        background-color: #f00;
        width: 16%;
      }
    }

    &-static, &-dynamic {
      display: inline-block;
    }

    &-dynamic {
      margin-left: -.1rem;

      &-text {
        display: inline-block;
        overflow: hidden;
        @include typewriter(5, 6s, 0.3s);
        letter-spacing: -.1rem;
        white-space: nowrap;
        //border-right: 4px solid $color-white;
        box-sizing: border-box;
        height: 4.2rem;
      }
    }

  }

}
